body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}
body div {
    padding-left: 5%;
    padding-right: 5%;
}
li {
    list-style: none;
}
.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #1f2937;  
}
.header ul {
    display: flex;
    gap: 8px;
}
.header-list li {
    font-size: 18px;
    color: #e5e7eb;
}
.header h1 {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}
.hero-container {
    display: flex;
    background-color: #1f2937;
}
.hero-image {
    flex: 1;
}
.hero-image img{
    width: 100%;
    height: auto;
}