body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}
body > div {
    padding-left: 15%;
    padding-right: 15%;
}
li {
    list-style: none;
}
.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #1f2937;  
}
.header ul {
    display: flex;
    gap: 8px;
}
.header-list li {
    font-size: 18px;
    color: #e5e7eb;
}
.header h1 {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}
.hero-container {
    display: flex;
    background-color: #1f2937;
    flex: 1;
}
.hero-text {
    flex: 1;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8
}
.hero-text button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}
.hero-text p, .hero-image p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-image {
    flex: 1;
}
.hero-image img {
    width: 100%;
    height: auto;
}
.top-container {
    flex-direction: column;
    flex: 1;
}
.top-container h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: space-around;
}
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #e5e7eb;
    padding-top: 64px;
    padding-bottom: 64px;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}